#carouselPpal h1{
  font-weight: bold;
  text-shadow:  2px 2px rgba(0,0,0,0.7);
  font-size: 60px;
}

#carouselPpal p{
  font-weight: bold;
  text-shadow:  2px 1px rgba(0,0,0,0.7);
  font-size: 20px;
}

  .listaProductos{
    background: #4A545E;
    height: auto;
    padding-left: 5px;
}

.productosDestacados{
  text-align: center;
  height: 100px;
}

.productosDestacados h2{
  font-family: Montserrat, sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #4A545E;
  font-size: 40;
}

.listaProductos h6{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: 400;
  font-family: Montserrat, sans sans-serif;
  font-size: 14px;
}

.listaProductos ul{
  padding-left: 10px;
  list-style: none;
}

.listaProductos li{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

.listaProductos a{
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 14px;
}

.listaProductos a:hover{
  color: orange;
  text-decoration: none;
  font-size: 15px;
}

.productosDestacados{
  height: auto;
}

.listabox div img{
  height: 90%;
  width: 100%;
}

.cajaProducto{position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nombrePproducto {position: absolute;
  margin-top: 45%;
  margin-left: 25%;
  color: #4A545E;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 400;
  padding: 5px;
  font-kerning: auto;
  font-family: arial;
  }

.nombrePproducto:hover{
  text-decoration: none;
  color: #4FA4FF;
}

.precioProducto{position: absolute;
  background: #FA6720;
  margin-left: 70%;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: arial;}

  .mediosDePago{
    margin-top: 80px;
  }

  .mediosDePago ul li {
    color: #42E0EB;
    padding-top: 5px;
    padding-bottom: 5px;
  }
